body {
    font-family: 'Tenali Ramakrishna', sans-serif;
    background-color: #DBEDFF;
    height: 100vh;
    display: flex;
    justify-content: center;
}
h2 {
    display:flex;  
    width: 50%;
    background-color: #BECFDE;
    border-top : 1px solid #DADADA;
    border-right : 1px solid #DADADA;
    border-left : 1px solid #DADADA;
    justify-content: center;   
    align-items: center;
    color:#555A5F;
    border-bottom : 1px solid #DADADA;
}
#full {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profil {
    display:flex;  
    width: 50%;
    background-color: #BECFDE;
    border-top : 1px solid #FFFFFF;
    border-right : 1px solid #FFFFFF;
    border-left : 1px solid #FFFFFF;
    justify-content: center;   
    align-items: center;
    color:#555A5F    
}
.profil:last-child {
    border-bottom : 1px solid #DADADA;
}
.avatar {
    border-radius: 50%;
    width: 60px;
    height:60px;
    margin: 10px;
}
.trash {
    width: 15px;
    height:15px;
    margin: 10px;
}
h6 {
    margin-top : 10px;
    margin-bottom : 10px;
    font-size : 14px;
    font-family: 'Tenali Ramakrishna', sans-serif;
    text-transform : uppercase;
}
p {
    margin-top : 0px;
    font-size : 14px;
    font-family: 'Tenali Ramakrishna', sans-serif;
}
.wording {
    text-align: center;
}
#newmessage {
    width : 75%;
    margin : 10px;
}
#btn {
    color : #563D7C;
    border-color: #563D7C;
    background-color:#BECFDE;
    border : 1px solid;
    border-radius: 10%;
    outline: none;
}


